<ion-header>
  <ion-navbar>
    <ion-title>
      Care Schedule
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
    <div padding>
        <button block (click)="callAdmin()" ion-button>Emergency Call</button>
      </div>
  <ion-list>
    <ion-list-header>
      Today
    </ion-list-header>
    <button ion-item *ngFor="let today_appointment of today_appointments" (click)="appointmentSelected(today_appointment)">
      <ion-thumbnail item-start>
        <img src="{{today_appointment.image}}">
      </ion-thumbnail>
      <h4>{{ today_appointment.family_name }}</h4>
      <h1>{{ today_appointment.start_time }} - {{ today_appointment.end_time }}</h1>
      <h6>{{ today_appointment.date }}</h6>
      <h4>{{ today_appointment.address }}</h4>
      <p>{{ today_appointment.comments }}</p>
    </button>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Upcoming
    </ion-list-header>
    <button ion-item *ngFor="let appointment of appointments" (click)="appointmentSelected(appointment)">
      <ion-thumbnail item-start>
        <img src="{{appointment.image}}">
      </ion-thumbnail>
      <h4>{{ appointment.family_name }}</h4>
      <h1>{{ appointment.start_time }} - {{ appointment.end_time }}</h1>
      <h6>{{ appointment.date }}</h6>
      <h4>{{ appointment.address }}</h4>
      <p>{{ appointment.comments }}</p>
    </button>
  </ion-list>
</ion-content>