// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.ios {
    ion-navbar {
    height: 40px;
    margin-top: 18px;
    }
}

body {
    font-family: "Work Sans", sans-serif;
}

h2 {
    text-align: center;
    color: #ED1C57;
    font-weight: 600;
    font-size: 1.5em;
    padding-top: 30px;
}

.error-message {
    padding: 10px;
    text-align: center;
    color: #ED1C57;
    font-weight: 300;
    font-size: 1em;
}

h3 {
    text-align: center;
    color: #1C3371;
    font-weight: 600;
    font-size: 1.5em;
    padding-bottom: 10px;
}

h5 {
    text-align: center;
    color: #0188CB;
    font-weight: 500;
    font-size: 1em;
}

p {
    text-align: center;
    color: #1C3371;
    font-weight: 400;
    padding-top: 5px;
    font-size: 1.2em;
}

.detail-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}